


/*Pop Up Login Page*/





@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);

body {font-family: 'Source Sans Pro', sans-serif; font-size: 14px; color: #666;}



#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer_todo{
	position:absolute;
	width:330px;
	height: auto;
	left:;
	top:80px;
	background: #555555;
}


.popupContainer_assignments{
	position:absolute;
	width:330px;
	height: auto;
	left:;
	top:80px;
	background: #555555;
}

#modal_trigger { display:block;}

.btn {padding:10px 10px; background: #F4F4F2;}
.btn_red {background: #ED6347; color: #FFF;}

.btn:hover {background: #E4E4E2;}
.btn_red:hover {background: #C12B05;}

a.btn {color:#666; text-align: center; float:right; text-decoration: none;}
a.btn_red {color: #FFF;}

.loginButton{width:100%; display: block; float:left;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {
	font-size:16px; 
	text-transform: 
	uppercase;
	color: #555555;
}

.popupHeader {
	background:#555555;
	position:relative; 
	padding:5px 15px; 
	font-weight:bold;}

.popupHeader .modal_close {
	position: absolute; 
	right: 0; 
	top:0; 
	padding:5px 15px; 
	background:#555555; 
	cursor: pointer; 
	color:#aaa; 
	font-size:16px;}

.popupBody_todo {
	padding:10px;
	color: #555555;}

.popupBody_assignments {
	padding:10px;
	color: #555555;}

.header_title
{
	color:#99d9ea;
}

.title_label
{
	color: #FFFFFF;
	float:left;
}

.input_box_todo
{
	width: 220px;
	float:right;
}

.notes_box
{
	width:220px;
	height:40px;
	float:right;
}

.input_box_assignments
{
	width: 220px;
	float:right;
}

.input_box_assignments_title
{
	width: 220px;
	float:right;
}

.input_box_assignments_duedate
{
	width: 220px;
	float:right;
}

.notes_box_assignments
{
	width:220px;
	height:40px;
	float:right;
}

.input_box_goals
{
	width: 220px;
	float:right;
}

.notes_box_goals
{
	width:220px;
	height:40px;
	float:right;
}
