.container_12{
width:960px;
height: auto;
}

.top {
    position:absolute;
    left:0; right:0;
    height: 170px;
    /*background-color: blue;*/
}

.monthly_calendar img {
    height:170px;
}

.logo img {
    height: 170px;
    position:relative;
    right:10px;
}

.search_bar{
padding-top:20px;
}

#search {

}


#search input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial;
    color: #d7d7d7;
    width:150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    background: url(search-dark.png) no-repeat 10px 6px #fcfcfc;
    color: #6a6f75;
    width: 200px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

.active img{
    border-style:solid;
    border-width:5px;
    border-color:#555555;
    position:relative;
    bottom:7px;
    right:5px;
}


.calendar_button{
position:relative;
top:45px;

}

.calendar_button img{
height:40px;
}

.timeline_button {
    position:relative;
    top:95px;
    right:70px;
}

.timeline_button img{
height:40px;
}

.add_button{
position:relative;
top: 16px;

}

.add_button img{
    height:60px;
}

.dailyview_calendar{
    position:relative;
    top:97px;
}

.dailyview_calendar img{
    height:40px;
}

.add_daily {
position:relative;
right:40px;
bottom:3px;
}

.weeklyview_calendar{
    position:relative;
    top:94px;
    right:44px;
}

.weeklyview_calendar img{
    height:40px;
}

.monthlyview_calendar img{
    height:40px;
}

.monthlyview_calendar {
    position:relative;
    top: 94px;
    right:49px;
}

.username{
font-family: 'Lato', sans-serif;
position:relative;
right:80px;
float:right;
}

.username_photo img{
height:70px;
position:relative;
float:right;
top:50px;
}

.left {
    position:absolute;
    left:0px; top:160px; bottom: 0;
    width: 210px;
    /*background-color:orange;*/
    font-family: 'Lato', sans-serif;
    padding-top:60px;
    padding-left:10px;
}

.left h1{
font-size: 23px;
font-weight: 100px;
}

.left #plus{
    height:23px;
    position:relative;
}



.todoplus{
position:absolute;
left: 40px;
top: 0px;
}

.assignmentsplus{
position:absolute;
left: 179px;
top: -42px;  
}

.goalsplus{
position:absolute;
left: 210px;
top: 0px;    
}

.goals #plus{
    left:90px;
}

.right {
    position: absolute;
    left:250px; top:180px; right:0; bottom:0;
}

#crownoutline{
    height:650px;
}


ul
{
    list-style-type: none;
}

/*Add Button CSS stlying*/

.add_button .dialog {
  position: relative;
  text-align: center;
  background: #BBBBBB;
  margin: 13px 0 4px 4px;
  display: inline-block;
  width: 300px;
  box-shadow: 0px 0px 8px rgba(68, 140, 160, 0.5);
}
.dialog:after,
.dialog:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dialog:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #5C9CCE;
  border-width: 15px;
  left: 50%;
  margin-left: -15px;
}
.dialog:before {
  border-color: rgba(170, 170, 170, 0);
  border-width: 16px;
  left: 50%;
  margin-left: -16px;
}
.dialog .title {
  color: #fff;
  font-weight: bold;
  text-align: center;
  border: 1px solid #5189B5;
  border-width: 0px 0px 1px 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 8px 16px;
  background: #5C9CCE;
  box-shadow: 0px 1px 4px rgba(68, 120, 160, 0.1);
  font-size: 16px;
  line-height:2em;
}
.dialog .title:first-child {
  margin-top: -4px;
}

.add_button form
{
  padding:16px;
  padding-top: 0;
}

.add_button select[name=type]
{
    appearance: none;
    border-radius: 0;
}

.add_button
{

  color: #4478a0;
  border: 0;
  outline: 0;
  resize: none;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  width:10%;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  background:#fff;
}
.eventstart_time
{
    color: #4478a0;
  border: 0;
  outline: 0;
  resize: none;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  width:95%;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  background:#fff;
}

.eventend_time
{
    color: #4478a0;
  border: 0;
  outline: 0;
  resize: none;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  width:95%;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  background:#fff;
}

.event_name
{
  color: #4478a0;
  border: 0;
  outline: 0;
  resize: none;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  width:95%;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  background:#fff;
}

.event_location
{
  color: #4478a0;
  border: 0;
  outline: 0;
  resize: none;
  margin: 0;
  margin-top: 1em;
  padding: .5em;
  width:94%;
  border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
  background:#fff;
}
.add_button input[type=text]:focus,input[type=datetime-local]:focus,input[type=time]:focus {
  background-color: #FFF;
}
.add_button input[type=submit]
{
  border:none;
  background: #e14949;
  padding: .5em 1em;
  margin-top: 1em;
  color:#FFFFFF;
}
.add_button input[type=submit]:active
{
  background: #E1E5E5;
}

.add_button input:-moz-placeholder, textarea:-moz-placeholder {
    color: #FAFEFF;
}

.add_button input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #4478a0;
}

.add_button input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:#4478a0;
}

.idcwhat
{
  color: #4478a0;
}

.priority_buttons
{
  color: #4478a0;
  display:inline;
  float:left;
}

.typeofevent {
  color:#4478a0;
  display:inline;
  float:left;
}
 .priority {
   float:left;
 }

.add_button
{
    top: 0px;

    z-index:11000;
} 

.test_event
{
  color: #FFFFFF;
}