body{
	background-color:#92372f;
}

body p{

	font-family:'Montserrat', sans-serif;
	padding-right:100px;
	padding-left:100px;
	color:#ffffff;
	font-size:30px;
}

#hello{
	font-size:150px;
}

a{
	text-decoration: none;
	color:#f4b1aa;
}

a:hover{
	color:#fce7a7;
}

@media only screen and (max-width:1000px){
	body p{

		font-size:20px;
	}
	#hello{
		font-size: 30px;
	}
	}