body {
font-family:'Lato', sans-serif;
font-size:18px;
background-color: #5c595a;
}

/*change jumbotron*/
.jumbotron{
	background-color: #1E5754;
	position:relative;
	top:50px;
	width:100%;
}

@media only screen and (min-height:600px){
    .jumbotron  {
        height:82vh;   
    }
}


.jumbotron p{
	font-size: 16px;
	color:#fbfcfc;
	font-weight:300;
    line-height:145%;
}

.self img{
    margin-top:8%;
}

.description {
    margin-top:1%;
}



.triangle {
	 width: 0;
    height: 0;
    border: solid 60px ;
    border-color: #1E5754 transparent transparent transparent;
    margin-left:45%;
    margin-right:50%;
}


.trianglerec{
	left:50%;
	background-color:#f3f1ae;
}
/*end jumbotron and triangle changes*/

/*contact yellow part*/
.contact {
	margin:auto;
	background-color:#f3f1ae;
}


.contact p{
	line-height:200%;
}


#contact_m{
    font-family:'Montserrat', sans-serif;
}


/*resume button*/
.btn{
	background-color:#82d3a5;
	color:#575757;
	position:relative;
}

.btn:hover{
	color:#ffffff;
}

.button button{
	position:relative;
	right:50%;
	left:40%;
}

/*title of each section*/
.title{
	padding-top:5px;
	font-weight:700;
	color:#f4b1aa;
    font-family:'Montserrat', sans-serif;
    font-size:35px;
}

/*title of each experience*/
#experience_title{
	font-size:22px;
    font-weight:500;
        letter-spacing: 0.15em;
}

#skills_title{
    font-weight:500;
        letter-spacing: 0.15em;  
}

/*for projects*/
#experience_title a{
    text-decoration: none;
    color:#82d3a5;
}

#experience_title a:hover{
    color:#f3f1ae;
}

/*part of resume that is not a title*/
.meatcontent p{
	line-height:180%;
	font-weight:200;
	color:#ffffff;
}

/*part of the resume that shoud be really small O.O*/
.description{
	font-size:16px;
}

/*change colors for each section*/
.resume {
	background-color:#494647;
}

.skills{
 background-color:#494647;
}

.activities {
     background-color:#494647;
}

.weird {
    display:none;
}


@media only screen and (max-height: 550px){
        .jumbotron {
            height:100%;   
        }
    }
  
    @media only screen and (min-height:650px){
        .self img {
            margin-top:13%;   
        }
        
        .description {
            margin-top:3%;   
        }
    }

    @media only screen and (min-height:770px){
        .self img{
            margin-top:22%;
        }
        
        .description {
            margin-top:6%;
        }
        
    }

    @media only screen and (min-height:850px){
        .self img {
            margin-top:35%;   
        }
        
        .description {
            margin-top:10%;   
        }
    }

@media only screen and (min-height:900px){
        .self img {
            margin-top:42%;   
        }
        
        .description {
            margin-top:12%;   
        }
    }
    

@media only screen and (min-height:1200px){
    .self img {
            margin-top:83%;   
        }
        
        .description {
            margin-top:25%;   
        }
}
    
    



@media only screen and (max-width:1250px) {
	.jumbotron p{
	font-size: 15px;
	}
 
}

@media only screen and (max-width:1200px){
	.jumbotron {
		height:100%;
	}

     .self img {
        margin-top:5%;
         width:120%;
    }
    
    .description {
        margin-top:0%;   
    }
    
    .weird {
        display:inline;   
    }

}

/*@media only screen and (max-width:1020px){
	.self img{
		width:150%;
	}
}*/



@media only screen and (max-width:990px){
    
    .self img{
        width:100%;   
    }
    
	body p{
		font-size:28px;
	}
/*change jumbotron*/
	.jumbotron{
		height:100%;
		top:-20px;
	}

	.jumbotron p{
		font-size: 28px;
	}
    
    .description {
        margin-top:3%;   
    }



/*end jumbotron changes*/
    
    .contact{
        margin-top:-3px;   
    }
    
    	.trianglerec{
		margin-top:-52px;
	}

/*content changes*/


	.button button{
		left:0;
	}
/*content changes ends*/

#experience_title{
	font-size: 30px;
}
    
    .title{
        font-size:45px;   
    }


/*}

@media only screen and (max-width: 740px){*/


/*end roll down menu & triangle changes*/

/*font sizes for content, button, and description*/
	.description{
		font-size:20px;
	}


	.btn{
		font-size:28px;
	}

	.relevant_courses .title{
		width:800px;
	}
    
    #skills_title{
        font-weight:400;  
    }
    
    
.self img{
    margin-top:1%;
}





}

@media only screen and (max-width:500px){

	.self img{
		width:100%;
        
	}
	.self{
		width:100%;
	}

	body p{
		font-size:15px;
	}

	.jumbotron p{
		font-size:15px;
	}

	.button button{
		font-size:15px;
		left:0;
	}

	.description{
		font-size:13px;
	}
    
    #experience_title{
        font-size:20px;   
    }
    
    .title{
        font-size:25px;   
    }
}

@media only screen and (min-width:1490px){


}

@media only screen and (min-width:1600px) and (min-height:600px){
    .jumbotron {
        height:85vh;   
    }
}

@media only screen and (min-width:1790px) and (min-height:600px){


}

@media only screen and (min-width:2100px) and (min-height:600px){


	.jumbotron{
		height:90vh;
	}
}




